---
layout: defaultShell
title: akbr.net
---
<header class="indexHeader">
  <img class="indexLogo" src="assets/logo.png"></img>
</header>

<div class="indexContent">
  <div class="postIndex">

    <div class="subTitle">
      Writing
    </div>

    {% for post in site.posts %}
    <div class="listing">
      <div class="date smaller">
        {{ post.date | date_to_string }}
      </div>
      <div class="content">
        <div class="title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>

        {% if post.snippet %}
        <div class="snippet smaller">
            Hello {{ post.snippet }}
        </div>
        {% endif %}

      </div>
    </div>
    {% endfor %}

  </div>

  <div class="sidebar">
    <div class="about smaller">
      <div class="subTitle">
        About
      </div>
      {% include about_side.html %}
    </div>
    <br>
    <a href="{{ site.url }}/feed.xml"><strong>RSS</strong></a>
  </div>
</div>