---
layout: defaultShell
---
<a href="{{ site.url }}"><img class="miniLogo" src="{{ site.url }}/assets/logo_mini.png" style="border-style: none;"></img></a>
<div class="cornerLinks">
  <a href="{{ site.url }}/about">About</a> | <a href="{{ site.url }}/feed.xml">RSS</a>
</div>

<div class="post">
  <div class="title">
    {{ page.title }}
  </div>

  <div class="meta smaller">
    <a href="#">Aaron Rieke</a> | {{ page.date | date_to_string }} (<a href="https://github.com/akbr/akbr.github.io/commits/master/{{ page.path }}">changelog</a>)
  </div>

  {% if page.titleImage %}
  <img class="titleImage bordered" src="{{ site.assets }}/{{ page.titleImage }}"></img>
  {% endif %}

  {% if page.snippet %}
  <div class="snippet">
    {{ page.snippet }}
  </div>
  {% endif %}

  <div class="text">
    {{ content }}
  </div>

</div>

<div class="comments">
  <div id="disqus_thread"></div>

  <script type="text/javascript">
      var disqus_shortname = 'akbrnet';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>

  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
</div>
